.my-profile-card {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.profile-image-container {
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
}

.profile-info {
    text-align: left;
}
