@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:#F2E8C6;
    padding-top: 60px;
    font-family: "Parkinsans", sans-serif;
}


