.menuLinks {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.menuLinks li {
    color: white;
    text-decoration: none;
}

.menuLinks a {
    color: white;
    text-decoration: none;
}

.menuLinks li:hover {
    color: #F2E8C6;
    text-decoration: overline;
}

